.dropdownContainer {
  position: relative;
}

.button:hover {
  background-color: #4b5563; 
}

.iconLight {
  color: #ffffff;
}

.iconDark {
  color: black;
}
.btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: #CC3A0E;
}

.btnDark {
  background: #ffffff;
}
.menu {
  position: absolute;
  top: 100%;
  right: 0; 
  width: 12rem; 
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem; 
  z-index: 50;
}

.menuItemLink,
.menuItemButton {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.menuItemLink:hover,
.menuItemButton:hover {
  background-color: #f3f4f6;
}
