.header {
  display: flex;
  position: fixed;
  flex-direction: column;

  width: 100%;
  z-index: 1000;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  height: 60px;
  background-color: white;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  width: auto;
  height: auto;
}

.toggleTheme {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.techLabel {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 40px;
  color: white;
  gap: 8px;
  background: #cc340e;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  justify-content: center;
  transition: background-color 200ms ease-in-out;
}

.techLabelDark {
  background: #222222;
}

.light {
  background: #ffffff;
  color: #333;
}

.dark {
  background: #121212;
  color: #f5f5f5;
}

.btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: #cc3a0e;
}
.btn:hover {
  background-color: #4b5563;
}

.btnDark {
  background: #ffffff;
}
